@font-face {
  font-family: Ackbar;
  src: url(Ackbar.ttf.woff) format("woff");
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica';
  background-color: #bef3c3;
  text-align: center;
}

button {
  background-color: #ffffff;
  padding: 15px;
}

.logo {
  font-family: 'Ackbar';
  font-size: 100px;
  font-weight: bolder;
}

.hash {
  font-size: 30px;
  color: #ffffff;
  margin-bottom: 30px;
}
.chosen {
  border: 2px solid #000000;
  box-sizing: border-box;
  
}

@keyframes slidein { 
  from {
    margin-left: -200px;
  } to {
    margin-left: 0px;
  }
}


.feed-image {
  /* display: block; */
  animation: 3s slidein;
}
